body {
    /* min-height: 100%; */
    background-color: rgb(162, 199, 102);
    /* background-color: skyblue; */
}

#header {
  /* display: flex;
  justify-content: center; */
  /* padding-top: 20px; */
  /* padding-bottom: 10px; */
  /* font:  */
}

/* .FoodItem {
  background-color: rgb(28, 170, 151);
  border-width: 1px;
  border: solid;
  padding-top: 10px;
  padding-bottom: 20px;
  max-width: fit-content;
  min-height: fit-content;

} */

.inputbox {
  /* padding-top: 20px; */
  padding-bottom: 20px;
}

.foodItem {
    padding: 5px;
    width:20%;
    margin: 5px 5px 13px 10px;
    float:center;
    font-size: .8em;
    border-radius: 5px 5px 5px 5px; 
    /* box-shadow: 5px 5px 15px rgba(0, 0, 0, .2); */
    background-color:aliceblue
}

#deleteAll {
  padding-top: 5px;
  margin-top: 10px;
}